@use "sass:map";

@use "nordtheme" as nord;
@use "lightmode" as light;
@use "darkmode" as dark;

@import 'common';

$themes: (
  "light": light.$theme,
  "dark": dark.$theme,
);

$titlebar-inner-height: 4rem;
$titlebar-padding: 0.5rem;

@import 'fdn/scss/foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-xy-grid-classes;
@include foundation-visibility-classes;
@include foundation-title-bar;
@include foundation-off-canvas;

body {
  @include font-sans-serif;
}

// see https://w3c.github.io/mathml-core/#the-top-level-math-element
// these values are standard for a user-agent stylesheet, and we want to
// make sure we don't accidentally override them
math {
  direction: ltr;
  text-indent: 0;
  letter-spacing: normal;
  line-height: normal;
  word-spacing: normal;
  font-family: math;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  display: inline math;
  math-shift: normal;
  math-style: compact;
  math-depth: 0;

  &[display="block" i] {
    display: block math;
    math-style: normal;
  }

  &[display="inline" i] {
    display: inline math;
    math-style: compact;
  }
}

@include breakpoint(medium) {
  // these sizes are based on Foundation's default values but are
  // converted from rem to percent so that they become relative to
  // the parent container, assuming 1rem = 16px, a reasonable default

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 250%;
  }

  h3 {
    font-size: 193.75%;
  }

  h4 {
    font-size: 156.25%;
  }

  h5 {
    font-size: 125%;
  }

  h6 {
    font-size: 100%;
  }
}

@each $name, $theme in $themes {
  [data-theme="#{$name}"] body {
    color: map.get($theme, "body-font-color");
    background-color: map.get($theme, "body-background");
  }
}

#title {
  @include breakpoint(small only) {
    @each $name, $theme in $themes {
      [data-theme="#{$name}"] & {
        color: map.get($theme, "titlebar-color");
        background-color: map.get($theme, "titlebar-background");
      }
    }

    display: flex;

    & .title-bar-left {
      flex: 0 1 100%;
    }

    & .title-bar-right {
      flex: 1 0 auto;
    }

    & .title-bar-left, & .title-bar-right {
      margin: auto;

      button {
        margin: auto;
      }
    }

    height: $titlebar-inner-height;
    padding: $titlebar-padding;
  }

  button {
    @each $name, $theme in $themes {
      [data-theme="#{$name}"] &.primary {
        color: map.get($theme, "titlebar-button-color");
        background-color: map.get($theme, "titlebar-button-background-primary");
      }

      [data-theme="#{$name}"] &.secondary {
        color: map.get($theme, "titlebar-button-color");
        background-color: map.get($theme, "titlebar-button-background-secondary");
      }
    }

    max-height: $titlebar-inner-height;
  }
}

#title .title-bar-title, #menu .menu-title {
  @include font-display;
  font-size: x-large;
  line-height: 1;
}

#pageWrapperOuter {
  @include breakpoint(medium up) {
    @include xy-grid-container;
  }

  @include breakpoint(small only) {
    height: calc(100vh - $titlebar-inner-height);
  }
}

#pageWrapperInner {
  @include breakpoint(medium up) {
    @include xy-grid;
  }
}

#menuWrapper {
  @include breakpoint(medium up) {
    @include in-canvas;
    @include xy-cell($size: 2);

    margin: 0;
  }

  @include breakpoint(small only) {
    @each $name, $theme in $themes {
      [data-theme="#{$name}"] & {
        @include off-canvas-base($fixed: false,
          $background: map.get($theme, "offcanvas-background"));
      }
    }

    @include off-canvas-basics;
    @include off-canvas-base;
    @include off-canvas-position($position: left);
  }

  min-width: 150px;
}

#menu {
  @include menu-base;
  @include menu-expand;
  @include menu-direction($dir: vertical);

  padding: 1rem;

  li {
    margin: 0.5rem 0 0.5rem 0;
  }

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      li label {
        color: map.get($theme, "muted-label-color");
      }
    }
  }

  li label {
    @include font-display;
    font-size: 0.9rem;
    line-height: 1;
  }

  li button, li .button {
    margin: 1rem 0;
    padding: 0.5rem;
  }
}

#app {
  @include breakpoint(medium up) {
    @include xy-cell($size: 10, $vertical: false);
    @include xy-cell-base($size: grow);
    @include xy-grid($direction: horizontal, $wrap: true);

    margin: 0;
    height: 100vh;
  }

  @include breakpoint(small only) {
    @include off-canvas-content;
    @include xy-grid($direction: vertical, $wrap: false);

    padding: 0 0.5rem;
    height: calc(100vh - $titlebar-inner-height);
  }

  font-size: var(--base-font-size);
}

#body {
  @include breakpoint(medium up) {
    @include xy-cell($size: 10, $vertical: false);
    @include xy-cell-base($size: auto);
    margin: 1rem;
  }

  @include breakpoint(small only) {
    @include off-canvas-content;
    padding: 1rem;
  }

  font-size: var(--base-font-size);
}

button {
  @include font-display;
  padding: 0.5rem;
  font-size: 1rem;

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] &.primary {
      @include button($background: map.get($theme, "button-background-primary"),
        $background-hover: auto, $color: map.get($theme, "button-color"),
        $style: solid);
    }

    [data-theme="#{$name}"] &.secondary {
      @include button($background: map.get($theme, "button-background-secondary"),
        $background-hover: auto, $color: map.get($theme, "button-color"),
        $style: solid);
    }
  }
}

h1, .h1 {
  @include font-display;
  font-size: 175%;
}

h2, .h2 {
  @include font-sans-serif;
  font-size: 250%;
}

h3, .h3 {
  @include font-sans-serif;
  font-size: 193.75%;
}

h4, .h4 {
  @include font-sans-serif;
  font-size: 156.25%;
}

h5, .h5 {
  @include font-sans-serif;
  font-size: 125%;
}

h6, .h6 {
  @include font-sans-serif;
  font-size: 100%;
}

@each $name, $theme in $themes {
  [data-theme="#{$name}"] .has-tip {
    border-bottom: dotted 1px map.get($theme, "muted-label-color");
  }
}

// vim: set ft=scss:
