@use "sass:map";

@import 'theming';
@import 'switch';
@import 'slider';

#app {
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;

  @include breakpoint(medium up) {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    #controlsWrapper, #renderWrapper {
      @include xy-cell($size: 12, $vertical: false);
      flex: 0 1 auto;
    }
  }

  @include breakpoint(small only) {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    #renderWrapper {
      flex: 1 0 auto;
      width: auto;
    }

    #controlsWrapper {
      @include xy-cell($size: 12, $vertical: false);
      flex: 0 1 auto;
    }
  }

  #renderWrapper {
    margin: 2rem 1rem;
    min-height: 100px;
    position: relative;
  }

  #zoom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  #controlsWrapper label {
    @include font-display;
    flex: 0 0 auto;
    height: 3rem;
    font-size: xx-large;
  }

  #lightnessThumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
}

// vim: set ft=scss:
