@use "sass:map";

:root {
  --base-font-size: 1rem;
}

@import 'theme/common';
@import 'theme/code/codemirror';

#app {
  @include breakpoint(medium up) {
    #editor-wrapper {
      @include xy-cell($size: 12, $vertical: false);
    }

    #render-wrapper, #output-wrapper {
      @include xy-cell($size: 6, $vertical: false);
    }

    #output-wrapper #inner-output-wrapper {
      height: calc(xy-cell-size-css($size: 6) - 3rem);
    }

    #editor-wrapper, #render-wrapper, #output-wrapper {
      @include xy-cell-base($size: grow);
      @include xy-cell-gutters($gutters: 1rem, $gutter-type: margin,
        $gutter-position: (top, bottom));
      height: calc(50vh - 1rem);
    }
  }

  @include breakpoint(small only) {
    #editor-wrapper {
      @include xy-cell($size: 5, $vertical: true);
      @include xy-cell-base($size: grow);
    }

    #render-wrapper {
      @include xy-cell($size: 2, $vertical: true);
      @include xy-cell-base($size: grow);
      @include flex-order(0);
    }

    #output-wrapper {
      @include xy-cell($size: 5, $vertical: true);
      @include xy-cell-base($size: grow);
      @include flex-order(1);

      #inner-output-wrapper {
        height: calc(xy-cell-size-css($size: 5) - 3rem);
      }
    }
  }

  #output-wrapper {

    #inner-output-wrapper {
      position: relative;
      flex: 1 0 auto;

      #output {
        height: 100%;
        font-size: 75%;
      }

      #copy-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
      }
    }
  }

  #editor-wrapper, #output-wrapper, #render-wrapper {
    display: flex;
    flex-direction: column;

    label {
      @include font-display;
      flex: 0 0 auto;
      height: 3rem;
      font-size: xx-large;
    }
  }

  #editor, #output, #render {
    flex: 1 0 auto;
  }

  #editor, #output {
    border: 1px solid;
  }

  #render {
    font-size: 200%;
    overflow: scroll;
  }
}

// vim: set ft=scss:
