@use "sass:map";
@use "sass:color";

@import 'theme/modes';
@import 'theme/fonts';
@import 'theme/code/hljs';

.reveal-viewport {
  font-size: 42px;

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      @include font-sans-serif;
      color: map.get($theme, "body-font-color");
      background-color: map.get($theme, "body-background");
    }

    [data-theme="#{$name}"] & a,
    [data-theme="#{$name}"] & .controls,
    [data-theme="#{$name}"] & .progress {
      color: map.get($theme, "palette-primary");
    }

    [data-theme="#{$name}"] & a:hover,
    [data-theme="#{$name}"] & a:active {
      color: color.mix(map.get($theme, "palette-primary"),
        map.get($theme, "body-font-color"), $weight: 90%);
    }
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  @include font-display;
}

h4, .h4, h5, .h5, h6, .h6 {
  @include font-sans-serif;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 1.6em;
}

h3, .h3 {
  font-size: 1.3em;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0.5em 0;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.0em;
  margin: 0.1em 0;
}

iframe {
  border: none;
}

ul {
  li {
    text-align: left;
  }

  line-height: 1.25;
}

pre {
  text-align: left;
}

aside {
  font-style: italic;
  font-size: 0.9em;
}

@each $name, $theme in $themes {
  @each $othername, $othertheme in $themes {
    [data-theme="#{$name}"] .show-for-#{$othername}-only {
      @if $name == $othername {
        display: block;
      } @else {
        display: none;
      }
    }
  }
}

.fragment.highlight.visible {
  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "palette-primary");
    }
  }
}

pre {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.fragment.scroll {
  * {
    // children invisible
    display: none;
  }

  &.current-fragment * {
    // children visible
    display: block;
  }
}

// vim: set ft=scss:
