<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></title>
  <!-- all stylesheets are loaded here -->
</head>
<body>
  <div id="title" class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <span class="title-bar-title">
        <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
      </span>
    </div>
    <div class="title-bar-right">
      <button type="button" class="primary button" id="menu-button"
       data-toggle="menu-wrapper">Menu</button>
    </div>
  </div>
  <div id="page-wrapper-outer" class="off-canvas-wrapper">
    <div id="page-wrapper-inner">
      <div id="menu-wrapper" class="off-canvas" data-off-canvas
       data-close-on-click="true" data-in-canvas-on="medium">
        <div id="menu">
          <span class="hide-for-small-only menu-title">
            <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
          </span>
          <ul id="controls">
            <li>
              <label id="font-size-label" for="font-size-thumb">Font size multiplier</label>
              <div id="font-size-control" class="slider" data-slider
               data-initial-start="1" data-start="0.5" data-end="3" data-step="0.25">
                <span id="font-size-thumb" aria-labelledby="font-size-label"
                 class="slider-handle" data-slider-handle role="slider" tabindex="0"></span>
                <span class="slider-fill" data-slider-fill role="presentation"></span>
                <input type="hidden" id="font-size-input">
              </div>
            </li>
            <li>
              <label id="dark-mode-label" for="dark-mode-switch">Toggle dark mode</label>
              <div class="switch" id="dark-mode-control">
                <input class="switch-input" id="dark-mode-switch"
                 aria-labelledby="dark-mode-label" type="checkbox">
                <label class="switch-paddle" for="dark-mode-switch"></label>
              </div>
            </li>
            <li>
              <button type="button" class="primary button icon-button md-code expanded"
                id="render-button">Render MathML</button>
            </li>
          </ul>
          <%= htmlWebpackPlugin.options.templateParameters.partials.nav %>
        </div>
      </div>
      <div id="app" class="off-canvas-content" data-off-canvas-content>
        <div id="editor-wrapper">
          <label for="editor">LaTeX input</label>
          <div id="editor" name="editor" class="code language-latex"></div>
        </div>
        <div id="output-wrapper">
          <label for="output">MathML output</label>
          <div id="inner-output-wrapper">
            <div id="output" class="code language-xml"></div>
            <button id="copy-button" type="button"
              class="secondary button icon-button md-copy">Copy</button>
          </div>
        </div>
        <div id="render-wrapper">
          <label for="render">Rendered equation(s)</label>
          <div id="render"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- vendor and page scripts are loaded here -->
</body>
</html>
