@use "sass:map";
@use "sass:color";

button, a.button {
  @include font-display-nobold;

  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
  text-align: center;

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] &.primary {
      &,
      &.disabled, &[disabled],
      &.disabled:hover, &[disabled]:hover,
      &.disabled:focus, &[disabled]:focus {
        background: map.get($theme, "button-background-primary");
        color: map.get($theme, "button-color");
      }

      &:hover, &:focus {
        background: color.mix(map.get($theme, "button-background-primary"),
          map.get($theme, "body-background"), $weight: 90%);
      }
    }

    [data-theme="#{$name}"] &.secondary {
      &,
      &.disabled, &[disabled],
      &.disabled:hover, &[disabled]:hover,
      &.disabled:focus, &[disabled]:focus {
        background: map.get($theme, "button-background-secondary");
        color: map.get($theme, "button-color");
      }

      &:hover, &:focus {
        background: color.mix(map.get($theme, "button-background-secondary"),
          map.get($theme, "body-background"), $weight: 90%);
      }
    }
  }

  &.expanded {
    width: 100%;
  }

  &.icon-button::before {
    padding: 0;
    margin-right: 0.2rem;
    position: relative;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: line-through;
  }
}

button.icon-button::before {
  vertical-align: bottom;
}

a.icon-button::before {
  vertical-align: middle;
}

// vim: set ft=scss:
