.callout {
  @include callout-base;

  padding: 1rem;

  // paragraphs inside callouts
  p {
    margin: 0;
    padding: 0;
  }

  // (optional) title of callout block
  .title {
    line-height: 1;
  }

  // block code inside callouts get different margins
  pre code, pre code.hljs {
    margin: 0.5rem 0 !important;
  }

  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      color: map.get($theme, "body-font-color");
      background-color: color.mix(map.get($theme, "palette-primary"),
        map.get($theme, "body-background"), 20%);
    }
  }
}

// vim: set ft=scss:
