<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hello</title>
  <% for (const scriptName of htmlWebpackPlugin.files.js) { %>
  <% if (scriptName != 'index.bundle.js') { %>
  <script src="<%= scriptName %>" type="text/javascript"></script>
  <% } %>
  <% } %>
  <% for (const styleName of htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= styleName %>" />
  <% } %>
</head>
<body>
  <div id="title" class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <span class="title-bar-title">LaTeX to MathML tool</span>
    </div>
    <div class="title-bar-right">
      <button type="button" class="primary button" id="menuButton" data-toggle="menuWrapper">Menu</button>
    </div>
  </div>
  <div id="pageWrapperOuter" class="off-canvas-wrapper">
    <div id="pageWrapperInner">
      <div id="menuWrapper" class="off-canvas" data-off-canvas data-close-on-click="true" data-in-canvas-on="medium">
        <ul id="menu">
          <li><span class="menu-title">LaTeX to MathML tool</span></li>
          <li>
            <label id="fontSizeLabel" for="fontSizeThumb">Font size multiplier</label>
            <div id="fontSizeControl" class="slider" data-slider data-initial-start="1" data-start="0.5" data-end="3" data-step="0.25" role="presentation">
              <span id="fontSizeThumb" name="fontSizeThumb" aria-labelledby="fontSizeLabel" class="slider-handle" data-slider-handle role="slider" tabindex="0"></span>
              <span class="slider-fill" data-slider-fill role="presentation"></span>
              <input type="hidden" id="fontSizeInput">
            </div>
          </li>
          <li>
            <label id="darkModeLabel" for="darkModeSwitch">Toggle dark mode</label>
            <div class="switch" id="darkModeControl">
              <input class="switch-input" id="darkModeSwitch" name="darkModeSwitch" aria-labelledby="darkModeLabel" type="checkbox">
              <label class="switch-paddle" for="darkModeSwitch"></label>
            </div>
          </li>
          <li>
            <button type="button" class="primary button expanded" id="renderButton">
              <span class="icon fi-html5"></span>Render MathML
            </button>
          </li>
        </ul>
      </div>
      <div id="app" class="off-canvas-content" data-off-canvas-content>
        <div id="editorWrapper">
          <label for="editor">LaTeX input</label>
          <div id="editor" name="editor" class="code language-latex"></div>
        </div>
        <div id="outputWrapper">
          <label for="output">MathML output</label>
          <div id="innerOutputWrapper">
            <div id="output" class="code language-xml"></div>
            <button id="copyButton" type="button" class="secondary button">
              <span class="icon fi-clipboard-notes"></span>Copy
            </button>
          </div>
        </div>
        <div id="renderWrapper">
          <label for="render">Rendered equation</label>
          <div id="render"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="index.bundle.js" type="text/javascript"></script>
  <script type="text/javascript">
    const editor = document.getElementById("editor");
    const output = document.getElementById("output");
    const render = document.getElementById("render");
    elucidate.launch(editor, output, render);
  </script>
</body>
</html>
