<h1>Motivation</h1>
<h2>Why not PDF?</h2>
<p>PDF (Portable Document Format) has arguably become the <i>de facto</i>
  standard in academic publishing. There are many reasons one could
  imagine that this became the case.</p>
<ul>
  <li>
    <p>PDF documents "look" nice. Electronically-typeset PDFs usually have
      nice vectorized fonts that scale with infinite resolution.</p>
  </li>
  <li>
    <p>Furthermore, PDFs typeset with LaTeX appear professional
      right out of the box because of careful stylistic choices, like using
      Computer Modern Roman as the default font rather than Times New Roman,
      a surefire way to spot a document made with Microsoft Word.</p>
  </li>
  <li>
    <p>Though costly PDF authoring software certainly exists, LaTeX
      submissions are accepted by many academic journals. The LaTeX
      software is free and open source, with a long history of producing
      high-quality documents for publishing.</p>
  </li>
  <li>
    <p>PDFs are standalone, meaning you can download one file, save it locally,
      and open it later in any PDF reader you like. You don't have to browse
      back to the journal's archive to read the paper, which adds to the
      convenience of the PDF format.</p>
  </li>
</ul>
<p>Considering each of these points in turn, however, may show you why PDF
  is not necessarily the perfect choice for academic publishing.</p>
<ul>
  <li>
    <p>PDF documents do look nice, but they are not the only vehicle for
      aesthetically-pleasing content. Vectorized fonts are readily available
      outside the PDF standard. Changing to another document format does not
      mean the documents have to be rasterized or lose their visual appeal.</p>
  </li>
  <li>
    <p>Academics, myself included, can usually spot a document typeset with
      LaTeX from a mile away. We see them every day on preprint servers and
      journal archives, to the point that information conveyed in LaTeX source
      or PDF just seems more trustworthy now. Don't believe me?
      <a href="https://xkcd.com/1301">It's literally the subject of an xkcd comic.</a></p>
  </li>
  <li>
    <p>LaTeX is a common tool for typesetting publication-quality documents that
      many researchers use frequently. It is not the only authoring tool freely
      available, though, just the current standard.</p>
  </li>
  <li>
    <p>Though standalone digital files, PDFs are inherently linked to the idea
      of print media. When you download a journal article as a PDF, the document
      you receive is divided into pages already, complete with headers, footers,
      and page numbers, which are arguably unnecessary in an age when most
      academics read the paper in its digital form. When did you last print
      out an article on actual, physical paper?</p>
  </li>
</ul>
