<div id="nav">
  <label id="nav-label" for="nav-drilldown">Navigate</label>
  <ul id="nav-drilldown" class="vertical menu drilldown" data-drilldown>
    <li class="is-drilldown-submenu-parent"><a href="tutorial/index.html">HTML tutorial</a>
      <ul class="vertical menu nested is-drilldown-submenu invisible">
        <li><a href="tutorial/basic.html">Basic HTML syntax</a></li>
        <li><a href="tutorial/skeleton.html">Simple HTML skeleton</a></li>
        <li><a href="tutorial/cheatsheet.html">LaTeX to HTML cheatsheet</a></li>
      </ul>
    </li>
    <li class="is-drilldown-submenu-parent"><a href="tools/index.html">Toolbox</a>
      <ul class="vertical menu nested is-drilldown-submenu invisible">
        <li><a href="tools/mathml.html">LaTeX to MathML</a></li>
        <li><a href="tools/colormap.html">Colormap designer</a></li>
      </ul>
    </li>
  </ul>
</div>
