<div id="nav">
  <label id="nav-label" for="nav-drilldown">Navigate</label>
  <ul id="nav-drilldown" class="vertical menu drilldown" data-drilldown
   data-back-button="&lt;li class&#x3D;&quot;js-drilldown-back&quot;&gt;&lt;a tabindex&#x3D;&quot;0&quot;&gt;&lt;i&gt;(back)&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;">
    <li class="is-drilldown-submenu-parent"><a href="#">HTML tutorial</a>
      <ul class="vertical menu nested is-drilldown-submenu invisible">
        <li><a href="tutorial/index.html">Tutorial index</a></li>
        <li><a href="tutorial/basic.html">Basic HTML syntax</a></li>
        <li><a href="tutorial/skeleton.html">Simple HTML skeleton</a></li>
        <li><a href="tutorial/cheatsheet.html">LaTeX to HTML cheatsheet</a></li>
      </ul>
    </li>
    <li class="is-drilldown-submenu-parent"><a href="#">Toolbox</a>
      <ul class="vertical menu nested is-drilldown-submenu invisible">
        <li><a href="tools/index.html">Tools index</a></li>
        <li><a href="tools/mathml.html">LaTeX to MathML</a></li>
        <li><a href="tools/colormap.html">Colormap designer</a></li>
      </ul>
    </li>
  </ul>
</div>
