<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title></title>
  <!-- all stylesheets are loaded here -->
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <%= htmlWebpackPlugin.options.templateParameters.partials.body %>
    </div>
  </div>
  <!-- vendor and page scripts are loaded here -->
</body>
</html>
