<div id="pages-gallery" class="grid-x grid-margin-x">
  <div class="cell medium-4 small-12 callout">
    <div class="h1 title">Basic HTML syntax</div>
    <p>Start here if you are experienced with LaTeX but just getting started
     with HTML! This introductory section assumes no prior knowledge of
     HTML.</p>
    <a class="primary button icon-button md-learn"
     href="tutorial/basic.html">Go to page</a>
  </div>
  <div class="cell medium-4 small-12 callout">
    <div class="h1 title">Simple HTML skeleton</div>
    <p>Beyond simple formatting, the structure of an HTML document is crucial
     if you plan to author full webpages.</p>
    <a class="primary button icon-button md-learn"
     href="tutorial/skeleton.html">Go to page</a>
  </div>
  <div class="cell medium-4 small-12 callout">
    <div class="h1 title">LaTeX to HTML cheatsheet</div>
    <p>For those in a hurry, this cheatsheet will help you convert familiar
     LaTeX commands into HTML equivalents (or near-equivalents).</p>
    <a class="primary button icon-button md-learn"
     href="tutorial/cheatsheet.html">Go to page</a>
  </div>
</div>
