<h1>Simple HTML skeleton</h1>
<p>Consider a minimal LaTeX document like this:</p>
<pre><code class="language-latex">\documentclass{article}
\title{A very simple \LaTeX\ document}

\begin{document}
Hello, world!
\end{document}</code></pre>
<p>You can write something similar in pure HTML in a straightforward way.</p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;A very simple HTML document&lt;/title&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;!-- Other metadata goes here --&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;This is a very simple heading&lt;/h1&gt;
    &lt;p&gt;Hello, world!&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>Picking apart this example, we have:</p>
<ul>
  <li><code class="language-html">&lt;!DOCTYPE html&gt;</code> is the doctype
    declaration for HTML5 going forward. It just indicates that the following
    document is HTML. The standard defines some
    <a href="https://www.w3.org/QA/2002/04/valid-dtd-list.html">other declarations</a>.</li>
  <li>All of the HTML tree lives in the <code class="language-html">&lt;html&gt;&lt;/html&gt;</code>
    root element.</li>
  <li>Inside that, we define the <code class="language-html">&lt;head&gt;&lt;/head&gt;</code>,
    which encloses metadata like the document title, scripts and stylesheets that
    should be loaded, and the character encoding.</li>
  <li>Everything else is contained in the <code class="language-html">&lt;body&gt;&lt;/body&gt;</code>
    element. Most elements in this section are document contents that could be
    rendered to the screen, read aloud, or printed.</li>
  <li>The <code class="language-html">&lt;h1&gt;&lt;/h1&gt;</code> and
    <code class="language-html">&lt;p&gt;&lt;/p&gt;</code> tags define a level
    one heading and a (very short, in this case) paragraph.</li>
</ul>
<div class="callout tip">
  <div class="title md-tip"></div>
  <p>The <code class="language-html">&lt;head&gt;&lt;/head&gt;</code> element is
    analogous to the LaTeX document preamble. The
    <code class="language-html">&lt;body&gt;&lt;/body&gt;</code> element is
    analogous to the <code class="language-latex">\begin{document} ... \end{document}</code>
    environment.</p>
</div>
