@use "sass:map";
@use "sass:color";

@use "global" as *;
@use "nordtheme" as nord;

$-body-background: $black;
$-body-font-color: $white;

$-palette-primary: color.scale(map.get(nord.$aurora, "purple"), $lightness: +20%);
$-palette-secondary: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);

// admonition coloring
$-palette-todo: color.mix(map.get(nord.$aurora, "purple"), $-body-background, $weight: 30%);
$-palette-caution: color.mix(map.get(nord.$aurora, "yellow"), $-body-background, $weight: 30%);
$-palette-warning: color.mix(map.get(nord.$aurora, "orange"), $-body-background, $weight: 30%);
$-palette-danger: color.mix(map.get(nord.$aurora, "red"), $-body-background, $weight: 30%);
$-palette-attention: color.mix(map.get(nord.$aurora, "red"), $-body-background, $weight: 30%);
$-palette-hint: color.mix(map.get(nord.$aurora, "green"), $-body-background, $weight: 30%);
$-palette-important: color.mix(map.get(nord.$frost, "greenish"), $-body-background, $weight: 30%);
$-palette-note: color.mix(map.get(nord.$frost, "light"), $-body-background, $weight: 30%);
$-palette-seealso: color.mix(map.get(nord.$frost, "medium"), $-body-background, $weight: 30%);
$-palette-tip: color.mix(map.get(nord.$aurora, "green"), $-body-background, $weight: 30%);

$-error-font-color: color.mix(map.get(nord.$aurora, "red"), $-body-font-color, $weight: 70%);

$-muted-label-color: $light-gray;

$-slider-background: $medium-gray;
$-slider-fill-background: $light-gray;
$-slider-handle-background: $-palette-primary;

$-switch-background: $light-gray;
$-switch-paddle-background: $black;

$-titlebar-background: $light-gray;
$-titlebar-color: $black;

$-tooltip-background: $light-gray;
$-tooltip-color: $black;

$-offcanvas-background: color.scale($-body-background, $lightness: +10%);

$-button-color: $-body-background;
$-button-background-primary: $-palette-primary;
$-button-background-secondary: $-palette-secondary;

$-titlebar-button-color: $-body-font-color;
$-titlebar-button-background-primary: color.scale(map.get(nord.$aurora, "purple"), $lightness: -40%);
$-titlebar-button-background-secondary: color.scale(map.get(nord.$frost, "dark"), $lightness: -40%);

$-tab-background: color.scale($-body-background, $lightness: +10%);
$-tab-border-color: $-tab-background;
$-tab-color: $-body-font-color;
$-tab-color-active: $-palette-secondary;
$-tab-background-hover: color.scale($-body-background, $lightness: +5%);
$-tab-background-active: $-body-background;

$-token-typename-color: color.scale(map.get(nord.$aurora, "purple"), $lightness: +20%);
$-token-name-color: color.scale(map.get(nord.$aurora, "purple"), $lightness: +20%);
$-token-classname-color: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);
$-token-propertyname-color: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);
$-token-keyword-color: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);
$-token-symbol-color: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);
$-token-meta-color: color.scale(map.get(nord.$frost, "light"), $lightness: +40%);
$-token-comment-color: color.scale(map.get(nord.$aurora, "yellow"), $lightness: +40%);
$-token-attr-color: color.scale(map.get(nord.$frost, "greenish"), $lightness: +30%);
$-token-string-color: color.scale(map.get(nord.$aurora, "green"), $lightness: +20%);

$theme: (
  "palette-primary": $-palette-primary,
  "palette-secondary": $-palette-secondary,

  "palette-todo": $-palette-todo,
  "palette-caution": $-palette-caution,
  "palette-warning": $-palette-warning,
  "palette-danger": $-palette-danger,
  "palette-attention": $-palette-attention,
  "palette-hint": $-palette-hint,
  "palette-important": $-palette-important,
  "palette-note": $-palette-note,
  "palette-seealso": $-palette-seealso,
  "palette-tip": $-palette-tip,

  "error-font-color": $-error-font-color,

  "body-background": $-body-background,
  "body-font-color": $-body-font-color,
  "muted-label-color": $-muted-label-color,

  "slider-background": $-slider-background,
  "slider-fill-background": $-slider-fill-background,
  "slider-handle-background": $-slider-handle-background,

  "switch-background": $-switch-background,
  "switch-paddle-background": $-switch-paddle-background,

  "titlebar-background": $-titlebar-background,
  "titlebar-color": $-titlebar-color,

  "tooltip-background": $-tooltip-background,
  "tooltip-color": $-tooltip-color,

  "offcanvas-background": $-offcanvas-background,

  "button-color": $-button-color,
  "button-background-primary": $-button-background-primary,
  "button-background-secondary": $-button-background-secondary,

  "titlebar-button-color": $-titlebar-button-color,
  "titlebar-button-background-primary": $-titlebar-button-background-primary,
  "titlebar-button-background-secondary": $-titlebar-button-background-secondary,

  "tab-background": $-tab-background,
  "tab-border-color": $-tab-border-color,
  "tab-color": $-tab-color,
  "tab-color-active": $-tab-color-active,
  "tab-background-hover": $-tab-background-hover,
  "tab-background-active": $-tab-background-active,

  "token-typename-color": $-token-typename-color,
  "token-name-color": $-token-name-color,
  "token-classname-color": $-token-classname-color,
  "token-propertyname-color": $-token-propertyname-color,
  "token-keyword-color": $-token-keyword-color,
  "token-symbol-color": $-token-symbol-color,
  "token-meta-color": $-token-meta-color,
  "token-comment-color": $-token-comment-color,
  "token-attr-color": $-token-attr-color,
  "token-string-color": $-token-string-color,
);

// vim: set ft=scss:

