@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/ttf/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.md {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  &-code::before {
    // code
    @extend .md;
    content: "\e86f";
  }

  &-copy::before {
    // content_copy
    @extend .md;
    content: "\e14d";
  }

  &-warning::before {
    // warning
    @extend .md;
    content: "\e002";
  }

  &-tip::before {
    // thumb_up
    @extend .md;
    content: "\e8dc";
  }

  &-note::before {
    // sticky_note_2
    @extend .md;
    content: "\f1fc";
  }

  &-delete::before {
    // delete
    @extend .md;
    content: "\e872";
  }

  &-squiggle::before {
    // gesture
    @extend .md;
    content: "\e155";
  }

  &-grayscale::before {
    // contrast
    @extend .md;
    content: "\eb37";
  }

  &-done::before {
    // done
    @extend .md;
    content: "\e876";
  }

  &-data::before {
    // data_object
    @extend .md;
    content: "\ead3";
  }

  &-terminal::before {
    // terminal
    @extend .md;
    content: "\eb8e";
  }

  &-image::before {
    // image
    @extend .md;
    content: "\e3f4";
  }

  &-math::before {
    // functions
    @extend .md;
    content: "\e24a";
  }

  &-color::before {
    // palette
    @extend .md;
    content: "\e40a";
  }

  &-learn::before {
    // school
    @extend .md;
    content: "\e80c";
  }

  &-load::before {
    // input
    @extend .md;
    content: "\e890";
  }

  &-check::before {
    // rule
    @extend .md;
    content: "\f1c2";
  }

  &-open::before {
    // file_open
    @extend .md;
    content: "\eaf3";
  }

  &-close::before {
    // close
    @extend .md;
    content: "\e5cd";
  }

  &-tree::before {
    // account_tree
    @extend .md;
    content: "\e97a";
  }

  &-magic::before {
    // auto_awesome
    @extend .md;
    content: "\e65f";
  }

  &-save::before {
    // file_download
    @extend .md;
    content: "\e2c4";
  }

  &-restore::before {
    // file_upload
    @extend .md;
    content: "\e2c6";
  }
}

// vim: set ft=scss:
