// colors from https://nordtheme.com

$polar-night: (
  "darkest": #2e3440,
  "darker": #3b4252,
  "dark": #434c5e,
  "medium": #4c566a,
);

$snow-storm: (
  "light": #d8dee9,
  "lighter": #e5e9f0,
  "lightest": #eceff4,
);

$frost: (
  "greenish": #8fbcbb,
  "light": #88c0d0,
  "medium": #81a1c1,
  "dark": #5e81ac,
);

$aurora: (
  "red": #bf616a,
  "orange": #d08770,
  "yellow": #ebcb8b,
  "green": #a3be8c,
  "purple": #b48ead,
);

// vim: set ft=scss:
